.mycontainer {
    max-width: 980px;
    margin: auto;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
    width: 75%;
}

.mycontainer p {
    font-family: Monospace;
    font-weight: bold;
    font-size: 12px;
}